# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# urllib3-2.2.3.dist-info
# urllib3
# requests-2.32.3.dist-info
# requestsidna-3.10.dist-info
# idna 
# charset_normalizer-3.3.2.dist-info
# charset_normalizer 
# certifi-2024.8.30.dist-info 
# certifi
# bin
# idna-3.10.dist-info
# requests

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
